/* 리셋 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    color: #333;
}

body {
    background-color: #f3f3f3;
}




/* 헤더 */

#header-sroll {
    position: fixed;
    height: 80px;
    left: 0;
    top: 0;
    float: left;
    width: 100%;
    padding: 0 2.5% 0 2.5%;
    box-sizing: border-box;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 1000;
}

#header-sroll h1 {
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    line-height: 50px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header-sroll.small {
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
}

#header-sroll.small h1 {

    line-height: 35px;
    font-size: 25px;
}

.header .logo {
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    width: 130px;
    height: 57px;
    display: inline-block;
    margin-top: 15px;
}

.header h1,
nav {
    display: inline-block;
    position: relative;
}

h1 a {
    display: block;
    width: 150px;
    height: 50px;
}


nav {

    float: right;

}

nav ul {
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-right: 25px;
    line-height: 80px;
}


nav ul li a {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    font-family: 'IropkeBatangM';
}

.header_m {

    display: none;
}



#visual {

    padding: 350px 0 400px 0;
    background-image: url(../images/dior5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


#visual div {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}



#visual div h1 {
    color: #fff;
    font-size: 4.6em;
    font-style: normal;
    font-weight: 800;
}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
    animation: typewriter 1.2s steps(13) 1s 1 normal both,
    blinkTextCursor 500ms steps(13) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 6.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.menu {
    width: 25px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 13px;
    right: 5%;
}

.bar {
    height: 4px;
    width: 25px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    margin-bottom: 5px;
    transition: transform 1s linear;
    -webkit-transform-origin: 0;
    transform-origin: 0 2;
}

.down {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-animation: downrev 0.9s ease forwards;
    animation: downrev 0.9s ease forwards;
}

.downstart {
    -webkit-animation: down 0.7s ease forwards;
    animation: down 0.7s ease forwards;
}

@-webkit-keyframes down {
    0% {
        -webkit-transform: translateY(0)
    }
    55% {
        -webkit-transform: translateY(9px)
    }
    65% {
        -webkit-transform: translateY(9px)
    }
    100% {
        -webkit-transform: rotate(45deg)
    }
}

@-webkit-keyframes downrev {
    0% {
        -webkit-transform: rotate(45deg)
    }
    35% {
        -webkit-transform: rotate(0deg)
    }
    45% {
        -webkit-transform: translateY(0px)
    }
    100% {
        -webkit-transform: translateY(0px)
    }
}

.fade {
    -webkit-animation: faderev 0.9s ease forwards;
    animation: faderev 0.9s ease forwards;
}

.fadestart {
    -webkit-animation: fade 0.7s ease forwards;
    animation: fade 0.7s ease forwards;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes faderev {
    0% {
        opacity: 0
    }
    75% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

.up {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-animation: uprev 0.9s ease forwards;
    animation: uprev 0.9s ease forwards;
}

.upstart {
    -webkit-animation: up 0.7s ease forwards;
    animation: up 0.7s ease forwards;
}

@-webkit-keyframes up {
    0% {
        -webkit-transform: translateY(0)
    }
    55% {
        -webkit-transform: translateY(-9px)
    }
    65% {
        -webkit-transform: translateY(-9px)
    }
    100% {
        -webkit-transform: rotate(-45deg)
    }
}

@-webkit-keyframes uprev {
    0% {
        -webkit-transform: rotate(-45deg)
    }
    35% {
        -webkit-transform: rotate(0deg)
    }
    45% {
        -webkit-transform: translateY(0px)
    }
    100% {
        -webkit-transform: translateY(0px)
    }
}





#product {
    width: 100%;
    position: relative;
    top: -120px;
    overflow: hidden;
}

.product_list {
    background: #333;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.product_list ul li {
    float: left;
    position: relative;
    width: 33.33%;
    height: 360px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


.product_list .col_1 li:nth-child(1) {
    background-image: url(../images/product_01.jpg)
}



.product_list .col_1 li:nth-child(2) {
    background-image: url(../images/product_02.jpg)
}

.product_list .col_1 li:nth-child(3) {
    background-image: url(../images/product_03.jpg)
}



.product_list ul li a {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;

}

.product_list ul li a h4 {
    font-size: 14px;
    font-weight: 100;
    padding: 20px 20px;
    float: left;
    font-family: 'Nanum Gothic';
}

.product_list ul li a p {
    font-size: 14px;
    font-weight: 100;
    padding: 20px 20px;
    float: left;
    font-family: 'Nanum Gothic';

}

.product_list ul li a div {
    display: table;
    width: 58px;
    height: 58px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.product_list ul li a div p{
    background-image: url(../images/cart.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.product_list ul li a div:hover {
    background-color: #444;
}

.product_list .col_2 li:nth-child(1) {
    background-image: url(../images/product_04.jpg);
    height: 500px;
}

.product_list .col_2 li:nth-child(2) {
    background-image: url(../images/product_05.jpg);
    width: 66.66%;
    height: 500px;
}


#fashionshow {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -90px;
}

#fashionshow .show_02 ul li {
    float: left;
}


#fashionshow .show_02 ul {
    width: 100%;
}

#fashionshow .show_02 img {
    width: 100%;
    max-width: 100%;
}




#fashionshow .show_02 h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 30px;
}

#fashionshow .show_02 p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.04em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: gray;
}


.page {
    position: relative;
    top: -100px;
}


.page_img {
    width: 100%;
    margin: 100px 0 40px 0;
    padding: 120px 0;
    background-image: url(../images/page.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.event {
    max-width: 1200px;
    margin: 0 auto;
}

.event_box {
    text-align: center;
    margin: 20px 0;
    border: solid 1px white;
}


.event_box h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: 'nanummyeongjo';
}


.event_box p {
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding: 40px 10px 0 10px;
    font-family: 'nanummyeongjo';
}

.btn-line-white {
    display: inline-block;
    font-size: 1.1em;
    padding: 10px 60px 10px 60px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;
    font-family: 'nanummyeongjo';
}

.event_box a {
    text-align: center;
    margin: 50px 0px 50px 0px;
    color: white;
}


footer {
    width: 100%;
    background: #000;
    padding: 80px 0 50px;
    0;
}

.press h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 30px;
}

.press > p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.04em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: gray;
}

.layout-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.footer_layout {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.item_main {
    display: table;
    height: 600px;
    background: url(../images/item_main.jpg);
    width: 50%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.item-tablecell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    height: 100%;
}

.item-tablecell h3 {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    font-family: 'nanummyeongjo';
}

.item-tablecell p {
    font-size: 1.0em;
    color: white;
    margin: 18px 0 0 0;
    font-family: 'nanummyeongjo';
}

.press {
    position: relative;
    top: -125px;
}

.press ul li {
    background: #888;
    width: 300px;
    height: 300px;
    float: left;
}

.press ul {
    width: 50%;
    float: left;
    background: #fff;
}


.press .layout-wrapper ul li {
    height: 300px;
    display: table;
    padding: 30px;
    box-sizing: border-box;
}



.press .layout-wrapper ul li:nth-child(2) {
    background: url(../images/item_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.press .layout-wrapper ul li:nth-child(3) {
    background: url(../images/item_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.press .layout-wrapper ul li:nth-child(1) {
    background: #d83435;

}

.press .layout-wrapper ul li:nth-child(4) {
    background: #f5b3b7;

}


.press .layout-wrapper ul li a {
    display: table-cell;
    height: 100%;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.press .layout-wrapper ul li a h3 {
    color: #fff;
    font-family: 'nanummyeongjo';
    font-size: 1.2em;
    margin-bottom: 10px;

}

.press .layout-wrapper ul li a p {
    color: #fff;
    font-family: 'nanummyeongjo';

}






.footer_list li {
    width: 33.33%;
    float: left;
}

.footer_list h2 {
    color: white;
}
.footer_list p{
    color: white;
}
.footer_list p a {
    color: white;
}

.footer_list .footer_img {
    margin-bottom: 20px;
}

.sns{
    display: inline-block;
   
}

.sns div{
    float: left;
    margin: 20px 20px 0 0;
}



.form__input{
    height:40px;
}
.button{
    height:40px;
    width:50px;
    background-color:#F2F2F2;
    text-indent: -9999px;
    background-image:url(../images/search.png);
}


@media screen and (max-width: 1280px) {

    .event_box {
        margin: 40px;
    }

    .item_main {
        width: 100%;

    }
    .press ul li {
        width: 50%;
        float: none;
    }
    .press ul {
        width: 100%;
    }
    #fashionshow .show_02 ul li {
        width: 25%;
    }

    .layout-wrapper ul li {

        width: 100%;
    }

    .press .layout-wrapper ul li:nth-child(3) {
        background-size: auto;
    }
    .press .layout-wrapper ul li:nth-child(2) {
        background-size: auto;
        background-image: url(../images/item_01_m.jpg);
    }
}


@media screen and (max-width: 964px) {

    .header {
        display: none;
    }

    #visual {
        padding: 254px 0 300px 0;
        background-image: url(../images/dior7.jpg);
        background-attachment: inherit;
    }

    .page_img {
        padding: 25px 0 25px 0;
    }

    .header_m {
        position: fixed;
        display: block;
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    .nav_m {
        display: none;
    }
    .nav_m ul li {
        width: 100%;
        text-align: center;
        height: 75px;
        line-height: 75px;
        background: rgba(0, 0, 0, 0.5);


    }
    .nav_m ul li a {
        color: #fff;
        font-family: 'IropkeBatangM';
        font-size: 1.2em;
    }

    .nav_m ul {
        margin-top: 50px;
    }
    .header_m .logo {
        background: url(../images/logo_m.png) no-repeat;
        background-size: cover;
        text-indent: -9999px;
        width: 110px;
        height: 40px;
        position: absolute;
        top: 5px;
        left: 2.5%;
    }
}


@media screen and (max-width: 768px) {
    .product_list ul li {
        width: 100%;
    }
    .product_list .col_2 li:nth-child(2) {
        width: 100%;
    }

    #fashionshow .show_02 ul li {
        width: 50%;
    }
    #visual div h1 {
        font-size: 2.4em;
    }
    .item_main {

        height: 340px;
    }
    .footer_list > li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {}
